---
import MainLayout from "../layouts/MainLayout.astro";
import { Link } from "lucide-react";
---

<MainLayout title="Leadership">
    <div
    class="text-2xl my-8 flex items-center justify-center flex-col text-center font-medium"
>
    <h1 class="text-blue-800 text-3xl mb-8" data-aos="fade-up">LEADERSHIP</h1>
    <div
        class="flex flex-col px-5 md:px-[3vh] lg:px-[12vh] xl:px-[32vh] space-y-10"
    >
        <div class="flex flex-col md:flex-row space-x-4">
            <div class="md:w-1/2 flex items-center justify-center" data-aos="fade-up">
                <img
                    src="https://discovery.bits-pilani.ac.in/ICAEF2023/img/patrons/V-Ramgopal-Rao.jpg"
                    alt="prof"
                    class="px-10 py-5 bg-white max-w-[324px] lg:max-w-[384px] h-auto rounded-2xl"
                />
            </div>
            <div class="md:w-1/2 flex flex-col justify-center items-center" data-aos="fade-up">
                <h1 class="text-2xl mt-4">Prof. V Ramgopal Rao</h1>
                <h2 class="text-blue-600 text-xl mb-2">
                    Vice Chancellor, BITS Pilani
                </h2>
                <p class="text-lg text-left">
                    Presently, Prof. V. Ramgopal Rao is the Group
                    Vice-Chancellor for the Birla Institute of
                    Technology & Science (BITS) Pilani. The institute
                    has five campuses, located in Pilani, Hyderabad,
                    Goa, Dubai and Mumbai. Before joining the BITS
                    Group in 2023, Prof. Rao had served as the Director
                    of IIT Delhi for 6 years, 2016-2021 and as a
                    Chair Professor for Nanoelectronics at both IIT
                    Bombay and IIT Delhi.
                </p>
                <p class="text-lg text-purple-800 mt-3">
                    <a href=" https://web.iitd.ac.in/~rrao/index.html" target="_blank" class="flex">
                        <Link size={12}/>
                        
                            Click here for more information
                        
                    </a>
                </p>
            </div>
        </div>
        <div class="flex flex-col md:flex-row space-x-4" >
            <div class="md:w-1/2 flex items-center justify-center" data-aos="fade-up">
                <img
                    src="../soumyo.jpeg"
                    alt="prof"
                    class="px-10 py-5 bg-white max-w-[324px] lg:max-w-[384px] max-h-auto rounded-2xl"
                />
            </div>
            <div class="md:w-1/2" data-aos="fade-up">
                <h1 class="text-2xl mt-4">Prof. Soumyo Mukherji</h1>
                <h2 class="text-blue-600 text-xl mb-2">
                    Director, BITS Pilani Hyderabad Campus
                </h2>
                <p class="text-lg text-left">
                     Prof. Soumyo Mukherji was appointed as the  
                     Director of BITS Pilani,Hyderabad Campus  with effect from January 1, 2024. 
                </p><br>
                <p class="text-lg text-left">
                    Prof Mukherji was serving in the Department of Biosciences & Bioengineering as the Madhuri Sinha Chair Professor in Biomedical Engineering at IIT Bombay. He is also an Associated Faculty Member at the Centre for Research in Nanotechnology and Sciences and the Centre of Excellence in Nanoelectronics.
                </p><br>
                <p class="text-lg text-left">
He obtained his Ph.D. from the University of North Carolina (Chapel Hill, USA). He completed his B.Tech. in Instrumentation Engineering from IIT Kharagpur and did his M.S. from Colorado State University (Fort Collins, USA). He has been conferred the Fellowship of the Indian National Academy of Engineering (FNAE) and Fellowship of the National Academy of Sciences, India (FNASc). 
                </p><br>    
                <p class="text-lg text-left">
Professor Mukherji has served in several administrative positions at IIT Bombay. He served as the Dean Student Affairs (2015-2019), as the Head of the Centre for Research in Nanotechnology & Science as well as the Head of the Sophisticated Analytical Instrument Facility (2010-13). He has supervised more than 30 PhD scholars and more than 60 Masters students.

                </p> 
            </div>
        </div>
    </div>
</div>
</MainLayout>
